<div class="loci-section">

  @for (locus of store.getPersonLociFields(element().personId); track locus.index) {
    @let allelesField = $any(locus.field)['alleles'];
    @let locusNameField = $any(locus.field)['locus_name'];

    <div class="locus-item">
      <mat-form-field class="locus-field" appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ locusNameField().value() }}</mat-label>
        <input matInput [field]="allelesField" [errorStateMatcher]="immediateErrorMatcher">
        <mat-error>
          @if (allelesField().errors().length > 0) {
            @for (error of allelesField().errors(); track error.kind) {
              {{ error.message }}
            }
          }
        </mat-error>
      </mat-form-field>
    </div>
  }
</div>
