:host {
  display: block;
}

.person-form-container {
  display: flex;
  gap: 16px;
  padding: 16px 30px;
}

.name-field {
  width: 300px;
}

.role-field {
  width: 150px;
}

mat-option mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
