<div class="active-button">
  <div class="upload-trigger">
    <button matButton="filled" (click)="openUploadSheet()">
      <mat-icon>open_in_new</mat-icon>
      Upload & Match
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<!-- Top Header -->
<div #sentinel></div>
<div class="table-header-top" [class.stuck]="isStuck()">
  <span class="table-header-title">
    @if (selectionHasValue()) {
      {{ selectionLength() }} selected
    } @else {
      DNA persons
    }
  </span>

  <div class="table-header-actions">
    <!-- edit -->
    <button mat-icon-button
            (click)="store.toggleEditMode()"
            matTooltip="Edit">
      <span class="material-symbols-outlined">{{ store.isEditMode() ? 'edit_off' : 'edit' }}</span>
    </button>

    <!-- Save -->
    <button mat-icon-button
            [disabled]="!expandedRowId() || !store.hasChanges(getExpandedElement()!)"
            (click)="updateRow(getExpandedElement()!)"
            matTooltip="Save changes">
      <span class="material-symbols-outlined">save</span>
    </button>

    <!-- Delete -->
    <button mat-icon-button
            [disabled]="!selectionHasValue() || store.isDeleting()"
            (click)="deleteSelected()"
            matTooltip="Delete selected">
      <span class="material-symbols-outlined">delete_forever</span>
    </button>
  </div>
</div>
<!-- Spacer when stuck -->
<div class="stuck-spacer" [class.active]="isStuck()"></div>

<!-- Bottom Header -->
<div class="table-header-bottom">
  <div>
    <mat-chip-listbox aria-label="Role filter"
                      [value]="filterByRole()"
                      (change)="setRoleFilter($event.value)">
      <mat-chip-option value="parent" selected>Parents</mat-chip-option>
      <mat-chip-option value="child">Children</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <!-- Active Filter Chip -->
  <div>
    <mat-chip-set>
    </mat-chip-set>
    <mat-chip-set>
      @for (person of store.filteredPersons(); track person.id) {
        <mat-chip (removed)="store.removeFilter(person.id)" class="filter-chip">
          <mat-icon matChipAvatar>
            {{ person.role === 'child' ? 'child_care' : 'person' }}
          </mat-icon>
          {{ person.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
    </mat-chip-set>
  </div>
</div>
<mat-divider></mat-divider>
