<div class="upload-container">

  <div class="active-button">
    <!-- Toggle -->
    <mat-button-toggle-group
      [value]="tableStore.roleFilter()"
      (change)="setFilter($event.value)">
      <mat-button-toggle value="parent">
        <div class="icon-alignment">
          <mat-icon>people</mat-icon>
          <span>Parents</span>
        </div>
      </mat-button-toggle>
      <mat-button-toggle value="child">
        <div class="icon-alignment">
          <mat-icon>child_care</mat-icon>
          <span>Children</span>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="upload-trigger">
      <button mat-raised-button color="primary" (click)="openUploadSheet()">
        <mat-icon>open_in_new</mat-icon>
        Popup
      </button>
    </div>

    <!-- ⭐ Active Filter Chip -->
      <mat-chip-set>
        @if (tableStore.isLocalFiltering()) {
          <mat-chip (removed)="clearLocalFilter()">
            <mat-icon matChipAvatar>filter_list</mat-icon>
            Viewing: {{ tableStore.filteredPersonName() }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }

        <!-- ⭐ Backend Search Chip (from match results or table search) -->
        @if (tableStore.isSearching()) {
          <mat-chip highlighted (removed)="clearSearch()">
            <mat-icon matChipAvatar>search</mat-icon>
            Searching: {{ tableStore.filteredPersonName() }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }

        <!-- ⭐ Multiple Persons Filter Chip -->
        @if (tableStore.isMultipleFiltering()) {
          <mat-chip (removed)="clearMultipleFilter()">
            <mat-icon matChipAvatar>group</mat-icon>
            Viewing: {{ tableStore.multiplePersonFilter()?.length }} persons
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        }
      </mat-chip-set>

  </div>

  <app-dna-table></app-dna-table>

</div>
